body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width:100%;
}


h2 {
    position: fixed;
    top: 0;
    left: 50%;
    width : 100%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px 20px;
    z-index: 999;
    text-align: center;
    margin-top: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 55px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
